---
import { getCollection } from 'astro:content'
import DefaultLayout from '~/layouts/Default.layout.astro'
import 'github-markdown-css'

export async function getStaticPaths() {
  const essayEntries = await getCollection('essay')
  return essayEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render();
---
<DefaultLayout>
  <h1 class="text-6 font-700 text-center">{entry.data.title}</h1>
  <hr class="my-4" />
  <div class="markdown-body">
    <Content></Content>
  </div>
</DefaultLayout>
