---
import { getCollection } from 'astro:content'
import DefaultLayout from '../../../layouts/Default.layout.astro'

export async function getStaticPaths() {
  const essayEntries = await getCollection('essays')

  const tagsMap = essayEntries.reduce((acc, cur) => {
    cur.data.tags.forEach((tag) => {
      acc[tag] || (acc[tag] = [])
      acc[tag].push(cur)
    })
    return acc
  }, {})

  return Object.keys(tagsMap).map(tag => ({
    params: { tag },
    props: { entries: tagsMap[tag] },
  }))
}

const { entries } = Astro.props
const Essays = entries
---
<DefaultLayout>
  <ul>
    {Essays.map(essay => (
      <li
        data-slug={essay.slug}
        class="flex justify-between items-center"
      >
        <a
          class="unset hover"
          href={`/essays/detail/${essay.slug}`}
        >{essay.data.title}</a>

        <span
          class="italic"
          style="color: var(--color-text-muted);"
        >{
          new Date(essay.data.date).toLocaleDateString()
          || '无'
        }</span>
      </li>
    ))}
  </ul>
</DefaultLayout>
