---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import PostLayout from '~/layouts/Post.astro'

export async function getStaticPaths() {
  const posts = await getCollection('manual')
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const post: CollectionEntry<'manual'> = Astro.props.post
const {
  Content,
  // ...rest
} = await post.render()
// console.log(rest.headings)
---

<PostLayout {...post.data}>
  <!-- <h1>{post.data.title}</h1> -->
  <Content />
</PostLayout>
