---
import PostLayout from '../layouts/Post.astro'
---

<PostLayout
  title="About"
  description=""
  date={new Date()}
  heroImage="/pictures/traveling-light.jpeg"
>
<div class="text-center leading-16">
  I was doubling over the load on my shoulders<br>
  Was a weight I carried with me everyday<br>
  Crossing miles of frustrations and rivers a raging<br>
  Picking up stones I found along the way<br>
  I staggered and I stumbled down<br>
  Pathways of trouble<br>
  I was hauling those souvenirs of misery<br>
  And with each step taken my back was breaking<br>
  'Til I found the One who took it all from me<br>
  Down by the riverside<br>
  （Down by the riverside）<br>
  I laid my burdens down<br>
  Now I'm traveling light<br>
  My spirit lifted high<br>
  （I found my freedom now）<br>
  I found my freedom now<br>
  And I'm traveling light<br>
  Through the darkest alleys and loneliest valleys<br>
  I was dragging those heavy chains of doubt and fear<br>
  Then with the one word spoken the locks were broken<br>
  Now He's leading me to places<br>
  Where there are no tears<br>
  Down by the riverside<br>
  （Down by the riverside）<br>
  I laid my burdens down<br>
  Now I'm traveling light<br>
  My spirit lifted high<br>
  （I found my freedom now）<br>
  I found my freedom now<br>
  And I'm traveling light<br>
  I laid my burdens down<br>
  My spirit lifted high<br>
  （Down by the riverside）<br>
  I laid my burdens down<br>
  Now I'm traveling light<br>
  My spirit lifted high<br>
  I found my freedom now<br>
  And I'm traveling light<br>
  Down by the riverside<br>
  （Down by the riverside）<br>
  I laid my burdens down<br>
  Now I'm traveling light<br>
  My spirit lifted high<br>
  （I found my freedom now）<br>
  I found my freedom now<br>
  And I'm traveling light<br>
  Down by the riverside<br>
  （Down by the riverside）<br>
  I laid my burdens down<br>
  Now I'm traveling light<br>
  My spirit lifted high<br>
  （I found my freedom now）<br>
  I found my freedom now<br>
  And I'm traveling light<br>
  I found my freedom now<br>
</div>
</PostLayout>
