---
import DefaultLayout from '~/layouts/Default.layout.astro'
---
<DefaultLayout>
  <div>
    所有文章除特别声明外，均采用 <a class="italic" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">BY-NC-SA</a> 许可协议。
  </div>
</DefaultLayout>
