---
import DefaultLayout from '~/layouts/Default.astro';
---

<DefaultLayout>
  <h1 class="text-8">icons use test</h1>
  <span class="i-carbon-logo-github"></span>
  <span class="i-carbon-search"></span>
  <span class="i-carbon-close"></span>
  <span class="i-carbon-home"></span>
</DefaultLayout>
