---
// 欢迎来到 Astro！这些三横线所围住的代码
// 就是你的“组件 front matter”。它不会运行在浏览器中。
import DefaultLayout from '../layouts/Default.layout.astro'
---
<!-- 下面是你的“组件模板”。 这仅仅是 HTML，但是
     带有魔法点缀可以帮助构建更棒的模板。 -->
<DefaultLayout>
  <h1>Hello, World!</h1>
  <a href="/essays/arch">/essays/arch</a>
</DefaultLayout>
<style>
  h1 {
    color: orange;
  }
</style>
