---
import { getCollection } from 'astro:content'
import DefaultLayout from '~/layouts/Default.astro'

const posts = await getCollection('essay')

const tagsCount = posts.reduce((acc, post) => {
  post.data.tags?.forEach(tag => {
    if (acc[tag]) {
      acc[tag]++
    } else {
      acc[tag] = 1
    }
  })
  return acc
}, {} as Record<string, number>)
---

<DefaultLayout>
  <div
    style="height: 500px"
    id="wordcloud"
    data-tags-count={JSON.stringify(tagsCount)}>
  </div>
</DefaultLayout>

<script>
import WordCloud from 'wordcloud'
const el = document.getElementById('wordcloud') as HTMLDivElement
const tagsCount = JSON.parse(el.dataset.tagsCount as string) as Record<string, number>

const isDark = document.documentElement.classList.contains('dark')

const options = {
  list: Object.entries(tagsCount),
  // fontFamily: 'Finger Paint, cursive, sans-serif',
  // fontWeight: 'normal',
  color: isDark ? 'random-light' : 'random-dark',
  classes: 'wordcloud',
  minSize: 10,
  weightFactor: 20,
  clearCanvas: true,
  // backgroundColor: '#001f00',

  gridSize: 12,
  // origin: [0, 0],
  drawOutOfBound: false,
  shrinkToFit: true,

  // drawMask: true,
  maskColor: 'rgba(255, 255, 255, 0.6)',
  maskGapWidth: 0.1,

  // wait: 100,
  // abortThreshold: 0,
  abort: () => false,

  minRotation: -Math.PI / 2,
  maxRotation: Math.PI / 2,
  rotationSteps: 2,

  shuffle: true,
  rotateRatio: 0.2,

  shape: 'circle',
  ellipticity: 0.65,

  // hover: (item, dimension, event) => {}
  click(item: any) {
    window.open(`/essay/tag/${item[0]}`, '_self')
  },
}
WordCloud(el, options)
</script>

<style is:global>
  #wordcloud {
    background-color: var(--color-bg) !important;
  }
  .wordcloud:hover {
    text-decoration:underline;
  }
  .wordcloud {
    cursor: pointer;
    background-color: transparent;
  }
</style>
