---
const { options, classExtra, placeholderText } = Astro.props
---

<div class="base-selector">
  <slot></slot>

  <select
    name="selector"
    id="selector"
    class:list={[classExtra]}
  >
    <option value="non-select">{placeholderText || '未选择'}</option>
    {options.map((option: string) => (
      <option value={option}>{option}</option>
    ))}
  </select>
</div>
