---
const {
  options,
  classExtra,
  optionSelected,
  placeholderText,
} = Astro.props
---

<div class="base-selector">
  <slot></slot>

  <select
    name="selector"
    id="selector"
    class:list={[classExtra, 'select-css']}
  >
    <option value="non-select">{placeholderText || '未选择'}</option>
    {options.map((option: string) => (
      <option value={option} selected={optionSelected === option || undefined}>{option}</option>
    ))}
  </select>
</div>
