---
import { formatData } from '~/utils/date'

const { essays } = Astro.props
---

<ul>
  {essays.map(essay => (
    <li
      data-slug={essay.slug}
    >
      <a
        class="unset hover flex justify-between items-start"
        href={`/essay/detail/${essay.slug}`}
      >
        <span>{essay.data.title}</span>
        <span class="flex-none italic hidden sm:block">{ formatData(essay.data?.update || essay.data?.date) || '--' }</span>
      </a>
    </li>
  ))}
</ul>
