---
import { getCollection } from 'astro:content'
import BaseSelector from './BaseSelector.astro'

const essays = await getCollection('essay')
const essayTagSet = essays.reduce((acc, cur) => {
  cur.data.tags.forEach(tag => acc.add(tag))
  return acc
}, new Set())
---

<BaseSelector
  classExtra="essay-tag"
  options={Array.from(essayTagSet)}
  placeholderText={'所有标签'}
>
  <span>标签：</span>
</BaseSelector>

<script>
  const location = window.location
  const selector: HTMLSelectElement = document.querySelector('.base-selector .essay-tag')

  const pathArr = location.pathname.split('/')
  const isTagPage = location.pathname.split('/')[2] === 'tag'
  isTagPage && (selector.value = pathArr[3])

  selector.addEventListener('change', ({ target }: any) => {
    if (target.value === 'non-select') {
      location.href = `${location.origin}/essay`
      return
    }

    const tag = target.value
    location.href = `${location.origin}/essay/tag/${tag}`
  })
</script>
