---
import { formatData } from '~/utils/date'

const { essays } = Astro.props
---

<ul>
  {essays.map(essay => (
    <li
      data-slug={essay.slug}
      class="flex justify-between items-start"
    >
      <a
        class="unset hover"
        href={`/essay/detail/${essay.slug}`}
      >{essay.data.title}</a>

      <span
        class="flex-none italic hidden sm:block"
        style="color: var(--color-text-muted);"
      >{
        formatData(essay.data?.update || essay.data?.date)
        || '无'
      }</span>
    </li>
  ))}
</ul>
