---
const { size } = Astro.props
---

<div class="out">
  <div class="in"></div>
</div>

<style define:vars={{ size }}>
  .out {
    display: inline-block;
    width: var(--size);
    height: calc(var(--size)*0.5);
    padding: calc(var(--size)*0.1);
    border-radius: var(--size);
    background-color: var(--color-dark);
    box-sizing: border-box;
    cursor: pointer;
    line-height: calc(var(--size)*0.3);
    transition: padding-left .3s ease-out;
  }
  .out .in {
    display: inline-block;
    width: calc(var(--size)*0.3);
    height: calc(var(--size)*0.3);
    border-radius: var(--size);
    background-color: var(--color-light);
  }
  html.dark .out {
    padding-left: calc(var(--size)*0.6);
    background-color: var(--color-light);
  }
  html.dark .out .in {
    background-color: var(--color-dark);
  }
</style>
