---
const { size } = Astro.props
---

<div class="out switch-theme-button">
  <div class="in"></div>
</div>

<script>
  const btn = document.querySelector('.switch-theme-button')
  btn.addEventListener('click', () => {
    const classList = document.documentElement.classList
    if (classList.contains('dark'))
      classList.remove('dark')
    else
      classList.add('dark')
  })
</script>

<style define:vars={{ size }}>
  .out {
    display: inline-block;
    width: var(--size);
    height: calc(var(--size)*0.5);
    padding: calc(var(--size)*0.1);
    border-radius: var(--size);
    background-color: var(--color-primary-main);
    box-sizing: border-box;
    cursor: pointer;
    line-height: calc(var(--size)*0.3);
    transition: padding-left .3s ease-out;
  }
  .out .in {
    width: calc(var(--size)*0.3);
    height: calc(var(--size)*0.3);
    border-radius: var(--size);
    background-color: var(--color-bg-body);
  }
  html.dark .out {
    padding-left: calc(var(--size)*0.6);
  }
</style>
