---

---

<footer class="flex flex-col justify-center items-center">
  <div>
    Built with
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605]"
      href={'https://astro.build/'}
      target="_blank"
    >
      Astro</a> and hosted in
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      href={'https://www.netlify.com'}
      target="_blank"
    >
      Netlify</a>.
  </div>
  <div>
    <a href="https://github.com/liamrad">Liam@Github</a>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
  }
</style>
