---
import { SITE_NAV } from '../site.config.mjs'
import SwitchButton from './SwitchButton.astro';
---

<header >
  <nav>
    {SITE_NAV.map(({ url, text }) => (<a href={url}>{text}</a>))}
  </nav>

  <div>
    <SwitchButton size="50px"></SwitchButton>
  </div>
</header>
