---
import { SITE_NAV } from '../config.mjs'
import SwitchThemeButton from './SwitchThemeButton.astro'
import HeaderLink from './HeaderLink.astro';
---

<header class="flex justify-between items-center">
  <nav>
    {SITE_NAV.map(({ url, text }) => (
      <HeaderLink href={url}>{text}</HeaderLink>
    ))}
  </nav>

  <div>
    <SwitchThemeButton size="50px"></SwitchThemeButton>
  </div>
</header>

<style>
  header {
    grid-area: header;
  }
</style>
