---
import { getCollection } from 'astro:content'
import DefaultLayout from '~/layouts/Default.astro'

const posts = (await Promise.all([getCollection('essay'), getCollection('manual')])).flat(1)

const tagsCount = posts.reduce((acc, post) => {
  post.data.tags?.forEach(tag => {
    if (acc[tag]) {
      acc[tag]++
    } else {
      acc[tag] = 1
    }
  })
  return acc
}, {} as Record<string, number>)
---

<DefaultLayout>
  <ul class="pages-tag-tag_list flex flex-row flex-wrap justify-center items-center">
    {Object.entries(tagsCount).map(([tag, count]) => (
      <li
        class:list={[
          'pages-tag-tag_item',
          'py-[0.25rem] px-[0.5rem] text-[var(--color-text)]',
          'lt-sm:leading-[1.2] leading-[1.5] hover:underline',
        ]}
        style={{ '--tag-step': Math.ceil(count / 1) }}>
        <a href={`/tag/${tag}`}>{tag}</a>
      </li>
    ))}
  </ul>
</DefaultLayout>

<style>
  .pages-tag-tag_item {
    font-size: calc(var(--tag-step, 1) * 0.2rem + 1rem);
  }
</style>
