---
import BaseHead from '~/components/BaseHead.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import FloatControl from '~/components/FloatControl.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts'
import '~/styles/fix-behavior.css'

const { title, description, head } = Astro.props
---

<!DOCTYPE html>
<html lang="zh">
  <head>
    <BaseHead title={title || SITE_TITLE} description={description || SITE_DESCRIPTION} head={head} />
  </head>
  <body class="relative container m-a lt-sm:p-x-4 p-b-12 min-h-100vh overflow-overlay">
    <Header class={'fixed z-1 top-0 left-0 w-full h-16 p-y-4'}/>
    <main class="m-a p-t-16 min-h-[calc(100vh-3rem)] max-w-120ch">
      <slot />
    </main>
    <Footer />
    <FloatControl />
  </body>
</html>
